In [20]:
from sqlalchemy import create_engine, text
import pandas as pd

In [7]:
engine = create_engine('postgresql+psycopg2://postgres:noi123456@noing-db.c2qkku433l07.ap-southeast-1.rds.amazonaws.com:5432/postgres')

In [25]:
with engine.connect() as conn:
    result = conn.execute(text('select "userId", "movieId", "rating" from ratings'))
    ratings = result.all()

In [26]:
df = pd.DataFrame(ratings, columns = ['movieId', 'userId', 'rating'])

In [28]:
df.isnull().sum()

movieId    0
userId     0
rating     0
dtype: int64

In [34]:
user_df = df[['userId']]
user_df = user_df.drop_duplicates(keep='last')
user_df.reset_index(drop=True, level=0, inplace=True)
user_df

      userId
0       1473
1     131724
2       5746
3       5764
4       6835
...      ...
9719  166534
9720  168248
9721  168250
9722  168252
9723  170875

[9724 rows x 1 columns]